/* RESET */

* {
    margin: 0;
    padding: 0;
    /* background-color: #F8F9FA; */

}

html {
    scroll-behavior: smooth;
}

/* /////////////// HEADER /////////////// */

header {
    background-color: #F8F9FA;
    position: sticky;
    top: 0px;
    /* padding-left: 150px; */
    /* padding-right: 150px; */
    z-index: 2000;
}

/* /////////////// MENU /////////////// */


.navLogo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader {
    width: 3rem;
    /* padding-bottom: 2%; */
    padding-left: 0;
    padding-right: 0;
    /* padding-top: 2%; */
    margin: 0;
    /* width: 40px; */
    /* padding-bottom: 10px; */

}


.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* padding-left: 0; */
    /* padding-right: 0; */
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F9FA;
}

.nav {
    z-index: 1000;
}

.navbar {
    padding: 0 !important;
}

.navMenu {
    display: flex;
    flex-basis: auto;
    align-items: center;
    color: white;
}

.navMenu ul {
    display: flex;
    flex-wrap: wrap;
}

.navMenu ul ul {
    position: absolute;
    display: none;
}

/* .navMenu ul ul li {
    display: block;
} */

.navMenu a {
    transition: color 300ms;
}

/* 
.navMenu a:hover {
    color: #d32525 !important;
} */

.navMenu ul li:hover ul {
    display: block;

}

/* REVISAR ESTO SI SIRVE? */
nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social{
    color: #555555;
    display: inline !important;
    padding-left: 0 !important;
    padding-right: 1rem !important;
    /* flex-wrap: nowrap; */
}
/* /////////////// SLIDER ///////////////*/
.sliderDesktop {
    display: block !important;
    visibility: visible !important;
    opacity: 1;

}

.sliderMobile {
    display: none !important;
    visibility: hidden !important;
    opacity: 0;
}

.slider {
    display: flex;
    align-items: center;
    grid-area: area1;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    z-index: 10;
}

#videoSlider {
    max-width: 100%;
    position: relative;
}

#tituloSlider {
    color: #F8F9FA;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 54px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    z-index: 1009;
}


/* /////////////// MAIN /////////////// */

main {
    text-align: center;
    background-color: #F8F9FA;
}

.titulosH2 {
    color: #7C7C7D;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.titulosH1 {
    margin-top: 0;
    color: #404040;
    font-family: 'Helvetica', Arial, sans-serif;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    color: #404040;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

h4 {
    color: #404040;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

p {
    color: #555555;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1 area1 area1"
        "area2 area2 area2"
        "area3 area4 area5"
        "area6 area7 area8"
    ;
}

.containerTitulo {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #F8F9FA; */
}

/* /////////// GALERIA //////////// */

.galeria {
    max-width: 100%;
}

#galeria {
    grid-area: area2;
}

/* 
.galeriaTitulos {
    position: absolute;
    z-index: 100;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    transition: all 300ms;
} */


#video1 {
    grid-area: area3;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

#video2 {
    grid-area: area4;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

#video3 {
    grid-area: area5;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

#video4 {
    grid-area: area6;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

#video5 {
    grid-area: area7;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

#video6 {
    grid-area: area8;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

.blend {
    opacity: 100%;
    transition: all 700ms;
}

.blend:hover {
    opacity: 50%;
}

.light-box {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;

    /* // display: flex; */
}

.light-box__img {
    width: 90%;
    padding: 4rem;
    max-width: 100%;
    transition: all 300ms;
}

.light-box:target {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.cerrar {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    text-decoration: none;
}

.cerrar:hover {
    color: red;
}

.arrowLeft {
    display: block;
    position: absolute;
    left: 3rem;
    /* // right: 2rem; */
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.arrowLeft:hover {
    color: red;
}

.arrowRight {
    display: block;
    position: absolute;
    /* // left: 2rem; */
    right: 3rem;
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.arrowRight:hover {
    color: blue;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ////////////NOSOTROS//////////// */

#gridNosotros {
    /* max-width: 900px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1  area1 area1"
        "area2 area2 area2"
}

#nosotrosTitulo {
    grid-area: area1;
}

#containerNosotros {
    grid-area: area2;
}

.flexNosotros {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: center;
}

.boxNosotros {
    padding: 5px;
    max-width: 40%;
}

.parrafoNosotros {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    list-style: none;
    color: #404040;
    /* width: 120%; */
}

/* ///////////////// SERVICIOS ////////////////// */



#gridServicios {
    /* max-width: 900px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1 area1 area1"
        "area2 area2 area2 ";
}

#tituloServicios {
    grid-area: area1;
}

#servicioCine {
    grid-area: area2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; 

    
}

.servicios {
    max-width: 50%;
    display: flex;
}

.flexServicios {
    padding: 5px;
}

.serviciosLista {
    padding: 0;
    text-align: left;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    list-style: none;
    color: #404040;
}

.serviciosParrafo {

    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    list-style: none;
    color: #404040;
}

/* //////////// CONTACTO //////////// */


#gridContactos {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1  area1 area1"
        "area2 area2 area2"
        "area3 area3 area3";
}

#tituloContactos {
    grid-area: area1;
    display: space-around;
}

#containerContacto {
    grid-area: area2;
    display: flex;
    justify-content: space-around;
}

#formulario {
    grid-area: area3;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Helvetica', Arial, sans-serif;
}

.h3Contacto {
    color: #404040;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.contacto p {
    font-family: 'Helvetica', Arial, sans-serif;
}

.form {
    /* padding-top: 1rem; */
    padding-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, sans-serif;
}

input[type=submit] {
    width: 100%;
    background-color: #9fbad6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica', Arial, sans-serif;
}

input[type=submit]:hover {
    background-color: #8da5be;
}

textarea {
    width: 100%;
    height: 80px;
    color: white;
    font-family: 'Helvetica', Arial, sans-serif;
}

fieldset {
    border: none;
    padding-top: 20px;
}

.btn-whatsapp {

    /* color:rgba(color: #000000, $alpha: 1.0); */
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 9909999;
}


/* /////////////////// FOOTER /////////////////// */
footer {
    background-color: #151515;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 150px;
    padding-right: 150px;
}

#footerContainer {
    display: flex;
    flex-wrap: wrap;
}

.footerFlex {
    padding-right: 80px;
} 

.footerTitulos {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: normal;
}
.footerContent {
    color: #F8F9FA;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    /* font-weight: 500; */
    /* text-align: left; */
    list-style: none;

    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0;
    line-height: 1.5;

}
.footerContent li {
    list-style: none;

    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
}
.footerContent li a {
    color: #F8F9FA;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    /* font-weight: 500; */
    text-align: left;
    list-style: none;
    /* padding-top: 0.1rem; */
    display: flex;
    flex-direction: column;
    text-decoration: none;

}
.footerContent i {
    /* padding: 10px; */
    /* display: flex; */
    color: #F8F9FA;
    /* font-family: 'Helvetica', Arial, sans-serif; */
     font-size: 14px; 
 /* font-weight: 500;  */
    text-align: left;
    list-style: none;
    /* padding-top: 0.1rem; */
    /* padding-right: 1rem; */
    display: flex;
    /* flex-direction: column; */
    text-decoration: none;
    line-height: 1.5;

}

.footerContent li i p {
    color: #F8F9FA;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
     font-weight: 500; 
    text-align: left;
    list-style: none;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0;
    line-height: 1.5;
}
/* .footerContent li i p {
    color: #F8F9FA;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-align: left;
    list-style: none;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0;
    line-height: 1.5 !important;
} */



.footerLogoContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerLogo {
    width: 3rem;
}

/* /////////////////////////////// MEDIA QUERY //////////////////////////////// */

/* /////////////// MOBILE /////////////// */

@media (max-width: 575.98px) {

    nav ul li a {
        margin-left: 0px;
        margin-right: 0px;
        line-height: 1;
        border-bottom: #d6d5d5 solid 1px;
    }
    .social{
        display: inline !important;
        padding-right: 1rem !important;
        /* flex-wrap: nowrap; */
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "area1"
            "area2 "
            "area3 "
            "area4"
            "area5"
            "area6"
            "area7"
            "area8";
    }

    #slider {
        display: flex;
        align-items: center;
        grid-area: area1;
        height: auto;
        overflow: hidden;
        justify-content: center;
    }

    #videoSlider {
        position: relative;
    }

    #tituloSlider {
        color: rgb(255, 255, 255);
        font-family: 'roboto', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        z-index: 1009;
    }

    .sliderMobile {
        display: block !important;
        visibility: visible !important;
        opacity: 1;
    }

    .sliderDesktop {
        display: none !important;
        visibility: hidden !important;
        opacity: 0;
    }
/* //////////////GALERIA /////////////// */
    #galeria {
        grid-area: area2;
    }
/* /////////////CONTACTO ///////////////////// */

    #containerContacto {
        display: flex;
        flex-wrap: wrap;
    }
    .contacto{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #formulario {
        padding-left: 3rem;
        padding-right: 3rem;
    }
/* //////////////////FOOTER //////////////////////// */
    footer {
        background-color: #151515;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #footerContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .footerFlex {
        padding-right: 1rem;
    } 
    /* #gridServicios {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "area1 area1"
            "area2 area2 "
            "area3 area3";
    }
    #tituloServicios {
        grid-area: area1;
    }
    #servicioCineMobile {
        grid-area: area2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    #servicioCineMobilePhoto {
        grid-area: area3;
    } */

}