/* RESET */

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
  
  /* ////////VERIFU\ICAR ESTO ////////////////// */
  #gridContactos{
  scroll-margin-block-start: 110px;
  
  scroll-margin-block-end: 110pxx;
}


/* /////////////// HEADER /////////////// */

header {
    background-color: #F8F9FA;
    position: sticky;
    top: 0px;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 2000;
}

/* /////////////// MENU /////////////// */


.navLogo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader {
    width: 40px;
    padding-bottom: 10px;

}


.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* padding-left: 0; */
    /* padding-right: 0; */
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    z-index: 1000;
}

.navbar{
    padding: 0 !important;
}
.navMenu {
    display: flex;
    flex-basis: auto;
    align-items: center;
    color: white;
}

.navMenu ul {
    display: flex;
    flex-wrap: wrap;
}

.navMenu ul ul {
    position: absolute;
    display: none;
}

.navMenu ul ul li {
    display: block;
}

.navMenu a {
    transition: color 300ms;
}

.navMenu a:hover {
    color: #b6b5b5;
}

.navMenu ul li:hover ul {
    display: block;

}

/* REVISAR ESTO SI SIRVE? */
nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* /////////////// SLIDER ///////////////*/

#slider {
    display: flex;
    align-items: center;
    grid-area: area1;
    height: 600px;
    overflow: hidden;
    justify-content: center;
    z-index: 10;
}


#videoSlider {
    max-width: 100%;
    position: relative;
}

#tituloSlider {
    color: rgb(255, 255, 255);
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 54px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    z-index: 1009;
}

/* /////////////// MAIN /////////////// */

/* 
.link {
    display: flex;
    align-items: center;
    justify-content: center;
} */

main {
    text-align: center;
}

.titulosH2 {
    color: #FFBD59;
    font-family: 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.titulosH1 {
    margin-top: 0;
    color: #404040;
    font-family: 'Helvetica', Arial, sans-serif;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    color: #404040;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

h4 {
    color: #404040;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

p {
    color: #555555;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1 area1 area1"
        "area2 area2 area2"
        "area3 area4 area5"
        "area6 area7 area8"
    ;
}

.containerTitulo {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#galeriaTitulo {
    grid-area: area2;
}

.galeriaTitulos {
    position: absolute;
    z-index: 100;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    transition: all 300ms;
}


#video1 {
    grid-area: area3;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

#video2 {
    grid-area: area4;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

#video3 {
    grid-area: area5;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}


/* /////////////////// FOOTER /////////////////// */



.footerLogoContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    width: 90px;
}

.footerTitulos {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: normal;
}

.footerFlex {
    padding-right: 80px;
}

#footerContainer {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #151515;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 150px;
    padding-right: 150px;
}

.footerContent {
    color: rgb(255, 255, 255);
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.footerContent i {
    /* padding: 10px; */
    display: flex;
    
}
.footerContent li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.footerContent p {
    padding-left: 10px;
    font-family: 'Helvetica', Arial, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

/* /////////// GALERIA //////////// */

.blend {
    opacity: 100%;
    transition: all 700ms;
}

.blend:hover {
    opacity: 50%;
}

/* ////////////NOSOTROS//////////// */

.gridNosotros {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1  area1 area1"
        "area2 area2 area2"
        "area4 area4 area4"
}

#nosotrosTitulo {
    grid-area: area1;
}

#containerNosotros {
    grid-area: area2;
}

#flexNosotros {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.parrafoNosotros {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    line-height: 24px;
    list-style: none;
    /* width: 120%; */
}

#boxNosotros {
    padding: 5px;
    width: 70%;
}

#instagramTitulo {
    grid-area: area4;
}

/* ///////////////// SERVICIOS ////////////////// */

.servicios {
    max-width: 400px;
    display: flex;
}

#gridServicios {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1 area1 area1"
        "area2 area2 area2 "
        "area3 area3 area3"
        "area4 area4 area4";
}

#tituloServicios {
    grid-area: area1;
}

#servicioFamilias {
    grid-area: area2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    max-height: 300px;
}

#servicioBodas {
    grid-area: area3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    max-height: 300px%;

}

#servicioEstudio {
    grid-area: area4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    max-height: 300px%;

}



/* //////////// CONTACTO //////////// */
.contacto p {
    font-family: 'Helvetica', Arial, sans-serif;
}

#gridContactos {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1  area1 area1"
        "area2 area2 area2"
        "area3 area3 area3";
}

.tituloContactos {
    grid-area: area1;
    display: space-around;
}

#containerContacto {
    grid-area: area2;
    display: flex;
    justify-content: space-around;
}

#formulario {
    grid-area: area3;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Helvetica', Arial, sans-serif;
}

.h3Contacto {
    color: #404040;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, sans-serif;
}

input[type=submit] {
    width: 100%;
    background-color: #9fbad6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica', Arial, sans-serif;
}

input[type=submit]:hover {
    background-color: #8da5be;
}

textarea {
    width: 100%;
    height: 80px;
    color: white;
    font-family: 'Helvetica', Arial, sans-serif;
}

fieldset {
    border: none;
    padding-top: 20px;
}

/* //////////// GALERIA //////////// */

.galeria {
    max-width: 100%;
}

/* /////////////////////////////// MEDIA QUERY //////////////////////////////// */

/* /////////////// MOBILE /////////////// */

@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "area1"
            "area2 "
            "area3 "
            "area4"
            "area5"
            "area6"
            "area7"
            "area8";
    }

    #slider {
        display: flex;
        align-items: center;
        grid-area: area1;
        height: auto;
        overflow: hidden;
        justify-content: center;
    }

    #videoSlider {
        position: relative;
    }

    #tituloSlider {
        color: rgb(255, 255, 255);
        font-family: 'roboto', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        z-index: 1009;
    }

    /* //////////// MENU ///////////////*/

    /* header {
        background-color: #151515;
        position: sticky;
        z-index: 2000;
    } */

    /* #logoHeader {
        width: 180px;
    } */

    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    #navMenu {
        display: flex;
        flex-basis: auto;
        align-items: center;
    }

    #navMenu ul {
        display: flex;
        flex-wrap: wrap;
    }

    #navMenu ul ul {
        position: absolute;
        display: none;
    }

    #navMenu ul ul li {
        display: block;
    }

    #navMenu ul li:hover ul {
        display: block;
    }

    #subMenu {
        position: absolute;
        background-color: #151515;
        margin-top: 10px;
    }

    #subMenu li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* //////////// FOOTER //////////// */

    #footerLogo {
        width: 120px;
    }

    #footerLogoContainer {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }

    .footerTitulos {
        font-family: 'Helvetica', Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-decoration: none;
        letter-spacing: normal;
    }
    .footerTitulos ul li {
        font-family: 'Helvetica', Arial, sans-serif;

    }

    #footerContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    footer {
        background-color: #151515;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-items: left;
        max-width: 600px;
        width: 100%;
    }

    .footerContent {
        font-family: 'Helvetica', Arial, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 34px;
        font-weight: 400;
        text-align: left;
        list-style: none;
    }
    .footerContent li{
        font-family: 'Helvetica', Arial, sans-serif;

    }

    /* ///////////// MAIN ///////////// */

    #familia {
        grid-area: area3;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        overflow: hidden;
        background-color: black;
    }

    #bodas {
        grid-area: area4;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        overflow: hidden;
        background-color: black;
    }

    #estudio {
        grid-area: area5;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        overflow: hidden;
        background-color: black;
    }

    #nosotros {
        grid-area: area6;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        overflow: hidden;
        background-color: black;
    }

    #servicios {
        grid-area: area7;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        overflow: hidden;
        background-color: black;
    }

    #contactos {
        grid-area: area8;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        overflow: hidden;
        background-color: black;
    }

    .containerTitulo {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        color: #9fbad6;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        font-size: 9px;
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 0;
        color: #404040;
        font-family: 'roboto';
        letter-spacing: -0.5px;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 44px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    /* /////////////////// NOSOTROS /////////////// */

    .gridNosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "area1"
            "area2"
            "area4";
    }

    #flexNosotros {
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

/* /////////////// TABLET START /////////////// */

@media only screen and (min-width: 600px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "area1 area1"
            "area2 area2 "
            "area3 area4"
            "area5 area6"
            "area7 area8";
    }

    #slider {
        display: flex;
        align-items: center;
        grid-area: area1;
        height: auto;
        overflow: hidden;
        justify-content: center;
    }

    #tituloSlider {
        color: rgb(255, 255, 255);
        font-family: 'roboto', sans-serif;
        font-size: 34px;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        z-index: 1009;
    }

    .galeriaTitulo {
        grid-area: area2;
    }

    #familia {
        grid-area: area3;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 250px;
        overflow: hidden;
        background-color: black;
    }

    #bodas {
        grid-area: area4;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 250px;
        overflow: hidden;
        background-color: black;
    }

    #estudio {
        grid-area: area5;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 250px;
        overflow: hidden;
        background-color: black;
    }

    #nosotros {
        grid-area: area6;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 250px;
        overflow: hidden;
        background-color: black;
    }

    #servicios {
        grid-area: area7;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 250px;
        overflow: hidden;
        background-color: black;
    }

    #contactos {
        grid-area: area8;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 250px;
        overflow: hidden;
        background-color: black;
    }

    /* ///////////// NOSOTROS ///////////// */

    .gridNosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "area1 area1 "
            "area2 area2"
            "area4 area4 ";
    }

    #nosotrosTitulo {
        grid-area: area1;
    }

    #containerNosotros {
        grid-area: area2;
    }

    #flexNosotros {
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    /* ////////////// SERVICIOS TABLET///////////// */

    #servicioFamilias {
        grid-area: area2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    #servicioBodas {
        grid-area: area3;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    #servicioEstudio {
        grid-area: area4;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
}

/* /////////////// DESKTOP START  ///////////////*/

@media only screen and (min-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "area1 area1 area1"
            "area2 area2 area2 "
            "area3 area4 area5"
            "area6 area7 area8";
    }

    #slider {
        display: flex;
        align-items: center;
        grid-area: area1;
        height: 500px;
        overflow: hidden;
        justify-content: center;
    }

    #tituloSlider {
        color: rgb(255, 255, 255);
        font-family: 'roboto', sans-serif;
        font-size: 54px;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        z-index: 1009;
    }

    .galeriaTitulo {
        grid-area: area2;
    }

    #familia {
        grid-area: area3;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        overflow: hidden;
        background-color: black;
    }

    #bodas {
        grid-area: area4;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        overflow: hidden;
        /* background-image: radial-gradient(#666666, #000000); */
        background-color: black;
    }

    #estudio {
        grid-area: area5;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        overflow: hidden;
        background-color: black;
    }

    #nosotros {
        grid-area: area6;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        overflow: hidden;
        background-color: black;
    }

    #servicios {
        grid-area: area7;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        overflow: hidden;
        background-color: black;
    }

    #contactos {
        grid-area: area8;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        overflow: hidden;
        background-color: black;
    }


    /* //////////// NOSOTROS ///////////// */
    .gridNosotros {
        max-width: 900px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "area1  area1 area1"
            "area2 area2 area2"
            "area4 area4 area4"
    }

    #nosotrosTitulo {
        grid-area: area1;
    }

    #containerNosotros {
        grid-area: area2;
    }

    #flexNosotros {
        max-width: 1080px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

    }

    /* ////////////// SERVICIOS ///////////// */

    #servicioFamilias {
        grid-area: area2;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    #servicioBodas {
        grid-area: area3;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    #servicioEstudio {
        grid-area: area4;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }


}